<h1>Редактировать задачу</h1>

<%= form_with model: [@project, @task] do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :status %>

    <% service = StatusTransitionService.new(@task) %>
    <% available_statuses = service.available_statuses %>

    <%= form.select :status, available_statuses.map { |s| [s.humanize, s] }, selected: @task.status %>
  </div>

  <div>
    <%= form.label :priority %>
    <%= form.select :priority, Task::PRIORITIES.map { |p| [p.humanize, p] }, selected: @task.priority %>
  </div>

  <%= form.submit "Обновить задачу", class: "btn btn-primary" %>
<% end %>

<%= link_to "Назад к задаче", project_task_path(@project, @task), class: "btn btn-secondary" %>
<%= link_to "Назад к задачам", project_tasks_path(@project), class: "btn btn-outline" %>