<h1>Новая задача</h1>

<%= form_with model: [@project, @task] do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :status %>
    <%= form.select :status, Task::STATUSES.map { |s| [s.humanize, s] } %>
  </div>

  <div>
    <%= form.label :priority %>
    <%= form.select :priority, Task::PRIORITIES.map { |p| [p.humanize, p] } %>
  </div>

  <%= form.submit "Создать задачу" %>
<% end %>

<%= link_to "Назад к задачам", project_tasks_path(@project) %>