<h1><%= t('views.tasks.new.title') %></h1>

<%= form_with model: [@project, @task] do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :status %>
    <%= form.select :status, Task::STATUSES.map { |s| [t("statuses.#{s}"), s] } %>
  </div>

  <div>
    <%= form.label :priority %>
    <%= form.select :priority, Task::PRIORITIES.map { |p| [t("priorities.#{p}"), p] } %>
  </div>

  <%= form.submit t('helpers.submit.task.create') %>
<% end %>

<%= link_to t('views.tasks.new.back'), project_tasks_path(@project) %>