<h1><%= @task.title %></h1>

<p><strong><%= t('views.tasks.show.description') %>:</strong> <%= @task.description %></p>

<p>
  <strong><%= t('views.tasks.show.status') %>:</strong>
  <span class="badge badge-<%= @task.status %>">
    <%= t("statuses.#{@task.status}") %>
  </span>
</p>

<p>
  <strong><%= t('views.tasks.show.priority') %>:</strong>
  <span class="priority-badge priority-<%= @task.priority %>">
    <%= t("priorities.#{@task.priority}") %>
  </span>
</p>

<% service = StatusTransitionService.new(@task) %>


<div style="margin-top: 20px;">
  <%= link_to t('views.tasks.show.edit'), edit_project_task_path(@project, @task), class: "btn btn-secondary" %>
  <%= button_to t('views.tasks.show.delete'), project_task_path(@project, @task), method: :delete, data: { confirm: "Точно?" }, class: "btn btn-danger" %>
  <%= link_to t('views.tasks.show.back'), project_tasks_path(@project), class: "btn btn-outline" %>
</div>