<h1><%= t('views.projects.index.title') %></h1>

<% if @projects.any? %>
  <ul>
    <% @projects.each do |project| %>
      <li><%= link_to project.title, project %></li>
    <% end %>
  </ul>
<% else %>
  <p><%= t('views.projects.index.no_projects') %> <%= link_to t('views.projects.index.create_first'), new_project_path %></p>
<% end %>

<%= link_to t('views.projects.index.new_project'), new_project_path %>