<h1><%= t('views.projects.new.title') %></h1>

<%= form_with model: @project do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <%= form.submit t('helpers.submit.project.create') %>
<% end %>

<%= link_to t('views.projects.new.back'), projects_path %>