<h1>Новый проект</h1>

<%= form_with model: @project do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <%= form.submit "Создать проект" %>
<% end %>

<%= link_to "Назад", projects_path %>