<h1><%= @project.title %></h1>
<p><%= @project.description %></p>

<%= link_to t('views.projects.show.tasks'), project_tasks_path(@project) %>

<p>
  <%= link_to t('views.projects.show.edit'), edit_project_path(@project) %>
  <%= button_to t('views.projects.show.delete'), @project, method: :delete, data: { confirm: "Точно?" } %>
  <%= link_to t('views.projects.show.back'), projects_path %>
</p>